@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300&display=swap');
body{
    margin:0;
}
main{
    height: 100vh;
}
main img,h1,p{
    margin:0;
}
main img{
    height:600px;
    width:100vw;
    margin:0;
}
main h1{
    color:black;
    font-size:50px;
    text-align: center;
    padding-top: 100px;
    font-family: 'Yeon Sung', cursive;
    margin:0;
}
main p{
    color:black;
    font-size:20px;
    text-align:justify;
    padding-left: 330px;
    padding-top: 20px;
    line-height: 30px;
    font-family: 'Titillium Web', sans-serif;
}
footer{
    margin:0;
    position:relative;
}
footer a{
    position:absolute;
    text-decoration: none;
    color:gray;
}
footer a:hover{
     text-decoration: underline;
     background-color: bisque;
}
footer a:nth-child(1){
    top:600px;
    left:50px;
}
footer a:nth-child(2){
    top:630px;
    left:50px;
}
footer a:nth-child(3){
    top:660px;
    left:50px;
}
footer a:nth-child(4){
    top:690px;
    left:50px;
}
footer a:nth-child(5){
    top:720px;
    left:50px;
}
footer a:nth-child(6){
    top:750px;
    left:50px;
}
footer a:nth-child(7){
    top:780px;
    left:50px;
    padding-bottom: 10px;
}
footer a:nth-child(8){
    top:570px;
    left:50px;
}
